.container {
    width: 1320px;
    margin: 0 auto;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rokkitt;
    font-style: normal;
    font-weight: 400;
}


@import 'base/variables.scss';
@import 'blocks/sidebar';
@import 'blocks/header.scss';
@import 'blocks/main.scss';
@import 'blocks/columns';
@import 'blocks/footer';
@import 'blocks/table';
@import 'blocks/media';